.mainContent{
    min-height: 67vh;
}
.mainContent h2{
    font-family: 'Gotham-Book', sans-serif;
    border-bottom: 1px solid;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #d99477;
}
.mainContent p{
    color: #696c71;
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 30px;
}
.mainContent .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
}
.row a{
    text-decoration: none;
    flex-basis: 29%;
}
.row .col{
    text-align: center;
}
.row a:hover p{
    color: black;
}
.col p{
    color: #d99477;
    font-size: 14px;
}
.col h3{
    font-family: 'Gotham-Book', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 600;
    color: #d99477;
}
.col img {
    width: 200px;
}
@media (max-width: 479px){
    #menu .realMenu li:first-child{
        border-top: none;
    }
    #menu .realMenu li:nth-child(6){
        background: url(../images/menu-bg.png);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: 10px;
    }
}
@media(min-width: 480px) and (max-width: 767px){
    #menu .realMenu li:first-child{
        border-top: none;
    }
    #menu .realMenu li:nth-child(6){
        background: url(../images/menu-bg.png);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: 10px;
    }
}
@media (min-width: 768px) and (max-width: 990px){
    #menu .realMenu li:first-child{
        border-top: none;
    }
    #menu .realMenu li:nth-child(6){
        background: url(../images/menu-bg.png);
        background-position: left top;
        background-repeat: no-repeat;
        background-size: 10px;
    }
    #menu .realMenu li a{
        height: 2rem;
        line-height: 2rem;
    }
}